<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="/style/loader.css">
</head>

<body>
    <div class="loader-overlay">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
</body>

</html>